.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  min-width: 80px;
  min-height: 30px;
  color: rgb(4, 0, 37);
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 3px #464646;
}
.button:active {
  box-shadow: none;
}
.button:not(:last-child) {
  margin-right: 10px;
}
